body
{
	margin: 0px;
	padding: 0px;
}
section {
    height: 100vh;
    background: black;
}
video{
	object-fit: cover;
	    filter: invert(2);
}
h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 57%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #c3c3c3;
    font-size: 97px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
h1 span {

    display: inline-block;
    opacity: 0;
    animation: ujjal 1s cubic-bezier(0.15, 0.13, 1, 1) forwards;
}
@keyframes ujjal{
	0%{
		opacity: 0;
		transform:rotateY(90deg);
		filter: blur(10px);
	}
	100%{
		opacity: 1;
		transform:rotateY(0deg);
		filter: blur(0.2px);
	}
}
h1 span:nth-child(1){
	animation-delay: 0s;
	color: green;
}
h1 span:nth-child(2){
	animation-delay: 0.9s;
	color: red;
}
h1 span:nth-child(3){
	animation-delay: 1.5s;
	color: yellow;
}
h1 span:nth-child(4){
	animation-delay: 2.2s;
	color: powderblue;
}
h1 span:nth-child(5){
	animation-delay: 2.5s;
	color: blue;
}
h1 span:nth-child(6){
	animation-delay: 2.9s;
	color: grey;
}
h1 span:nth-child(7){
	animation-delay: 3.2s;
	color: green;
}